* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

hr,
body,
fieldset {
    max-width: 1000px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    width: 100vw;
    height: 90px;
}

.title {
    color: white;
}

h2 {
    font-weight: bolder;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.signup p {
    max-width: 90vw;
    margin-top: 0px;
    text-align: center;
}

.hr1 {
    border-top: 5px solid black;
    height: 3px;
    width: 90vw;
    border-bottom: 3px solid black;
}

fieldset {
    border: 0;
}

div {
    display: flex;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.contact-information {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    margin: 0;
}

.contact-information div {
    display: flex;
}

select,
.contact-information input {
    height: 3em;
}

select,
.contact-information input,
.newsletter textarea {
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
    border: 0px;
    margin: 5px 0px 20px 0px;
    padding: 1px 7px;
}

#zipcode {
    width: 50%;
}

.hr2 {
    border-top: 3px solid black;
    width: 90vw;
}

input,
select,
textarea {
    font-size: 16px;
}

input:focus {
    background-color: lightyellow;
    transition: background-color 2s;
}

select:focus {
    background-color: lightyellow;
    transition: background-color 2s;
}

textarea:focus {
    background-color: lightyellow;
    transition: background-color 2s;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
    color: gray;
    margin-right: 10px;
}

select:invalid {
    color: #999;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.newsletter input,
.newsletter label {
    margin: 10px 0px;
}

.newsletter textarea {
    width: auto;
    resize: none;
    margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 15px;
}

.topics {
    flex-direction: column;
}

#topics-label {
    margin: 7px;
}

#other-topics {
    margin: 5px 0px 30px 0px;
}

.newsletter h1 {
    margin: 20px 0 0 0;
}

form button {
    font-size: 20px;
    height: 60px;
    border: 60px;
    flex-basis: 100%;
    align-content: center;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(0, 184, 163);
    color: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    padding: 20px;
    font-size: small;
    font-style: italic;
}

/*================== MEDIA QUERY for 768 pixels ==================*/

@media (min-width: 768px) {

    .form-fields {
        flex-direction: row;
        align-items: center;
    }
    .contact-information label {
        flex-basis: 20%;
    }
    select,
    .contact-information input {
        flex-basis: 80%;
    }
    #zipcode {
        flex-basis: 20%;
    }
}